

.leftNavigation ul{
  height: 1000px;
  padding: 20px;
}


.leftMenu a {
  color:  white;
  padding:20px;
  border-bottom: 1px solid white;

}
.leftMenu a:hover {
  color:#444444;
  background-color: white;
}

.addNewPet {
  background: #eeeeee;
  padding:40px;
}

.mainFooter {
  margin-top:60px;
  background: #444444;
  padding: 40px;
  color: white;
}

.myFooter {
  margin-top:10px;
  color: white;
  padding:40px;
}

.myFooter img {
  opacity: 0.7;
}

.myFooter img:hover {
  cursor: pointer;
  opacity: 1;
}

.myFooter hr {
  background-color: white;
}

.doc {

}

.doc img {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}