

.leftNavigation ul{
  height: 1000px;
  padding: 20px;
}


.leftMenu a {
  color:  white;
  padding:20px;
  border-bottom: 1px solid white;

}
.leftMenu a:hover {
  color:#444444;
  background-color: white;
}

.addNewPet {
  background: #eeeeee;
  padding:40px;
}

.mainFooter {
  margin-top:60px;
  background: #444444;
  padding: 40px;
  color: white;
}
