.pure-table {
  margin-top:50px;
  margin-left: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
th, td{
  border: 1px solid #cbcbcb;
  text-align: center;
}

th{
  height: 40px;

}


.leftMenu a {
  color:  #00447C;
  padding:20px;

}
.leftMenu a:hover {
  color:white;
  background-color: #00447C;
}

.addNewPet {
  background: #eeeeee;
  padding:40px;
}

.mainFooter {
  margin-top:60px;
  background: #444444;
  padding: 40px;
  color: white;
}
