<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"> </header>
<body>
	<div id="container" class="container-fluid">
		<div class="row">
			<header th:replace="fragments/header.html :: header"> </header>

			<div id="mainBody" class="col-md-10 col-sm-10">

				<div
					class="jumbotron p-4 p-md-5 text-white rounded bg-dark text-center">
					<div class="px-0">
						<h1 class="display-1 font-bold">PAWS</h1>
						<p class="lead mb-0">
							<span class="text-white font-weight-bold">Veterinary
								Services</span>
						</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<button type="button" class="btn btn-info" data-toggle="modal"
							data-target="#addNewClient">Add New Client</button>
					</div>

					<div class="modal fade" id="addNewClient" tabindex="-1"
						role="dialog" aria-labelledby="addClient" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="addNewClient">Add Client</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<form class="" id="theForm" action="#"
									data-th-action="@{/clients}" method="post">

									<div class="modal-body">

										<div class="form-group">
											<label for="name">Name</label> <input class="form-control"
												id="name" name="name" type="text">
										</div>

										<div class="form-group">
											<label for="phone">Phone</label> <input class="form-control"
												id="phone" name="phone" type="text">
										</div>


										<div class="form-group">
											<label for="address">Address</label>
											<textarea class="form-control" id="address" name="address"
												type="text">
								            </textarea>
										</div>
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="submit" value="submit" class="btn btn-primary">Save
											Client</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Form for the modal starts here -->
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Pet Name</th>
								<th scope="col">Client</th>
								<th scope="col"></th>

							</tr>
						</thead>
						<tbody>
							<tr data-th-each="pet : ${petCommands}">

								<td data-th-text="${pet.name}">...</td>
								<td data-th-text="${pet.client.name}">...</td>
								<td data-th-text="${pet.gender}">...</td>
								<td>
									<!-- <a class="btn btn-primary" data-toggle="collapse" data-th-href="'#collapse' + ${pet.id}" role="button" aria-expanded="false" aria-controls="collapseExample">
								    Create appointment
							  	</a> -->

									<button type="button" class="btn btn-primary"
										data-toggle="modal" th:attr="data-target='#modal'+${pet.id}">
										Create appointment</button>

								</td>
								<form class="" th:id="'appointmentForm' + ${pet.id}" action="#"
									data-th-action="@{/appointments}" data-th-object="${command}"
									method="post">

									<div class="modal fade" data-th-id="'modal'+${pet.id}"
										tabindex="-1" role="dialog"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Add a
														new Appointment</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">


													<!-- Hidden fields goes here -->
													<input th:id="petId" type="hidden" name="petId"
														data-th-value="${pet.id}" /> <input th:id="clientId"
														type="hidden" name="clientId"
														data-th-value="${pet.clientId}" />
													<!-- Hidden fields goes here -->

													<div class="form-group">
														<label for="clientName">Client</label> <span
															data-th-text="${pet.client.name}" class="form-control"
															readonly></span>
													</div>

													<div class="form-group">
														<label for="reason">Reason</label> <select th:id="reason"
															name="reason" type="select" class="form-control"
															data-th-value="*{reason}">
															<option th:each="reason : ${reasons}"
																data-th-value="${reason}" th:text="${reason}">Reason</option>
														</select>
													</div>

													<div class="form-group row date-time">
														<h5 class="col-md-12">Appointment Date/Time</h5>

														<div class="form-group col-md-6 col-sm-6">
															<label for=date>Date</label> <input id="datePicker"
																name="date" class="form-control" type="date">
														</div>

														<div class="form-group col-md-6 col-sm-6">
															<label for="time">Time</label> <input id="time"
																name="time" class="form-control timepicker" type="text">
														</div>


													</div>


													<div class="form-group row">
														<h5 class="col-md-12">Duration</h5>
														<div class="col-md-6">
															<label for="hours">Hours</label> <select id="hours"
																name="hour" type="select" class="form-control">
																<option th:each="hour : ${hours}" th:value="${hour}"
																	th:text="${hour}">Hours</option>
															</select>
														</div>
														<div class="col-md-6">
															<label for="minutes">Minute</label> <select id="minutes"
																name="minute" type="select" class="form-control">
																<option th:each="minute : ${minutes}"
																	th:value="${minute}" th:text="${minute}">Minutes</option>
															</select>
														</div>

													</div>

													<div class="form-group">
														<label for="comments">Comments</label> <input
															th:id="comments" name="comments" type="text"
															class="form-control" data-th-value="*{comments}">
													</div>

													<!-- <div class="form-group">			
												<button type="submit" form="appointmentForm" class="btn btn-primary"  value="Save">Save</button>
											</div>	 -->


												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="submit" value="submit"
														class="btn btn-primary">Save changes</button>
												</div>
											</div>
										</div>
									</div>
								</form>

							</tr>
						</tbody>
					</table>
				</div>


			</div>
		</div>

		<script type="text/javascript">
			//A simple datepicker value addendum
			var now = new Date();
				
			var day = ("0" + now.getDate()).slice(-2);
			var month = ("0" + (now.getMonth() + 1)).slice(-2);
	
			var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
			$('#datePicker').val(today);			
			
			//$('#timepicker').timepicker({});
			$('.timepicker').timepicker({	
			    timeFormat: 'h:i a',
			    interval: 15,
			    minTime: '8:00am',
			    maxTime: '6:00pm',
			    defaultTime: '8',
			    startTime: '8',
			    dynamic: false,
			    dropdown: true,
			    scrollbar: true,
			    show2400: true
			});
		</script>
</body>
</html>


