<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="container-fluid" >
	<div class="row">
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="">
			<form class="" id="appointmentForm" action="#" data-th-action="@{/appointments}" data-th-object="${command}" method="post">
			
			<div class="">
				<label for="petId">Pet</label>
	            <input id="petId" name="petId" type="number" value="${appointment.petId}" disabled>
			</div>
			
			<div class="">
				<label for="clientId">Client</label>
	            <input id="clientId" name="clientId" type="number" value="${appointment.clientId}" disabled>
			</div>
			
			<div class="">
				<label for="reason">Reason</label>
	            <input id="reason" name="reason" type="text" value="${appointment.reason}" data-th-field="*{reason}">
			</div>
			
			<div class="">
				<label for="duration">Duration</label>
	            <input id="duration" name="duration" type="number" value="${appointment.duration}" data-th-field="*{duration}">
			</div>
			
			<div class="">
				<label for="comments">Comments</label>
	            <input id="comments" name="comments" type="text" value="${appointment.comments}" data-th-field="*{comments}">
			</div>
			
			<div class="">			
				<button type="submit" form="appointmentForm" class="button"  value="Save">Save</button>
			</div>

			
			
			</form>
		
		</div>
	</div>
		
</body>
</html>






